:root {
    --light-coral: rgba(239, 118, 122, 1);
    --lapis-lazuli: rgba(69, 105, 144, 1);
    --keppel: rgba(73, 190, 170, 1);
    --turquoise: rgba(73, 220, 177, 1);
    --earth-yellow: rgba(238, 184, 104, 1);

    --light-coral2: rgba(239, 118, 122, 0.4);
    --lapis-lazuli2: rgba(69, 105, 144, 0.4);
    --keppel2: rgba(73, 190, 170, 0.4);
    --turquoise2: rgba(73, 220, 177, 0.4);
    --earth-yellow2: rgba(238, 184, 104, 0.4);

    --selective-yellow: rgba(255, 186, 8, 1);
    --coquelicot: rgba(255, 74, 28, 1);
    --emerald: rgba(12, 206, 107, 1);
}

body {
    margin: 0;
}
path.leaflet-interactive:focus {
    outline: none;
}

.p-tabview-nav-link {
    font-size: 12px;
    font-weight: "100px";
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #027dc6;
    color: #027dc6;
  }

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    font-size: 12px;
    min-width: 1.5rem;
    height: 1.5rem;
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-title {
    font-size: 12px;
}

.p-dialog .p-dialog-header {
    padding: 1rem;
}

.nepButton {
    background-color: #949494;
    opacity: 0.67;
    border: none;
    color: white;
    outline: none;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 28px;
    height: 24px;
    font-weight: 500;
    filter: saturate(100%);
}

.engButton {
    background-color: #949494;
    opacity: 0.67;
    border: none;
    color: white;
    outline: none;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 28px;
    height: 24px;
    font-weight: 500;
    filter: saturate(100%);
}

.selectedLanguage {
    background-color: #216cd7;
    opacity: 1 !important;
    width: 28px;
    height: 24px;
}

