body {
    margin: 0;
}
path.leaflet-interactive:focus {
    outline: none;
}

.p-tabview-nav-link {
    font-size: 12px;
    font-weight: "100px";
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    font-size: 12px;
    min-width: 1.5rem;
    height: 1.5rem;
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-title {
    font-size: 12px;
}

.p-dialog .p-dialog-header {
    padding: 1rem;
}
