{% load i18n static %}
{% load render_table from django_tables2 %}


<div id="volunteer_profile_table" class="d-flex flex-column table-container-all">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h2>{% translate "Volunteer Profile Table" %}</h2>
        <div class="p-absolute m-4 align-self-end">
            <button class="btn btn-primary" onclick="onExportVolunteerProfile();"> {% translate "Export CSV" %}</button>
        </div>
    </div>

    <style scoped>
        form {
            display: grid;
            gap: 1rem;
            max-width: 80ch;
            grid-template-columns: auto auto auto auto;
        }
    </style>

    {# Search form #}
    <form hx-get="{% url 'admin:volunteer_profile_table' %}" 
          hx-target="#volunteer_profile_table" 
          hx-swap="outerHTML" 
          hx-indicator=".progress" 
          class="form-inline"
          id="volunteer_profile_form"
    >
        {% csrf_token %}
        {% for field in filter.form %}
            <div class="d-flex flex-column">
                <div class="fw-bold">
                {{ field.errors }}
                {{ field.label }}
                </div>
                <div>
                {{ field}}
                </div>
            </div>
        {% endfor %}
        <input type="submit"> </input>
    </form>

    {# Progress indicator #}
    <div class="progress"> </div>

    {# The actual table #}
    {% render_table table %}
</div>

<script defer>
    function onExportVolunteerProfile() {
        let form = document.getElementById("volunteer_profile_form");
        let formData = new FormData(form);

        fetch("{% url 'admin:export_volunteer_csv' %}?" + new URLSearchParams(formData))
        .then((response) => response.blob())
        .then(blob => {
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;
            a.download = "volunteer_profile_data.csv";
            document.body.appendChild(a);
            a.click();    
            a.remove();
        });
    }
</script>

