{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>{{ site.name }}</title>
  </head>
  <body
    style="
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      font-family: sans-serif;
    "
  >
    <div
      style="
        width: 100%;
        padding: 1rem 0rem 2.5rem 0rem;
        background-color: #f0f8fa;
      "
    >
      <header style="margin: auto; padding: 1rem 0; width: fit-content">
        <img
          src="https://{{ site.domain }}{% static 'shared/logo_full.png' %}"
          height="80px"
        />
      </header>
      <main
        style="
          max-width: 550px;
          margin: auto;
          border-radius: 4px;
          background-color: white;
          padding: 2rem 1rem;
        "
      >
        {% block content %} {% endblock %}
        <footer
          style="
            border-top: 1px solid #ddd;
            font-size: 0.8rem;
            padding-top: 1rem;
          "
        >
          <div>
            <b>Need assistance ?</b>
          </div>
          <br />
          <div style="color: #563b18; margin-bottom: 0.35rem">
            Contact:+977-9825422670 (Viber, Whatsapp)
          </div>
          <div style="color: #563b18">Email: {{ admin_email }}</div>
        </footer>

        <footer
          style="
            border-top: 1px solid #ddd;
            text-align: center;
            opacity: 0.6;
            font-size: 0.75rem;
            padding-top: 0.5rem;
            margin-top: 1rem;
          "
        >
          Copyright &copy; 2023 {{ site.name }}
        </footer>
      </main>
    </div>
  </body>
</html>
