li {
  list-style-type: none;
}

.link {
  text-decoration: none !important;
  color: #ccc;
  border-bottom: 1px solid var(--blue-500);
}

.link:hover,
.link:active {
  color: var(--red-500);
  border-bottom: 1px solid var(--red-500);
}
.link:active {
  opacity: 0.8;
}